<launch>
    <arg name="portname" default="/dev/ttyUSB0"/>
    <node pkg="dobot_driver" name="dobot_server1" type="DobotServer" args="$(arg portname)" />
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
        <!-- カメラの指定　defaultは/dev/video0 -->
        <param name="video_device" value="/dev/video2"/>
        <!-- 画像の大きさ（横幅）の指定 -->
        <param name="image_width" value="640"/>
        <!-- 画像の大きさ（縦幅）の指定 -->
        <param name="image_height" value="320"/>
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap" />
    </node>
    <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" args="image:=/usb_cam/image_raw" required="true" />
    <!-- <node pkg="robot_manipulation" name="image2positon" type="image2position.py"/> -->
    <!-- <node pkg="robot_manipulation" name="positon_predictor" type="position_predictor.py"/> -->
    <!-- <node pkg="robot_manipulation" name="dobot_orbit_decider" type="dobot_orbit_decider.py"/> -->
</launch>
